@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --Soft-red: hsl(5,85%,63%);
}

body {
    font-family: "inter";
}

.navbar {
    animation:fadeInNavBar 1s ease-out;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeInNavBar {
    from{
        opacity: 0;
        transform: translateY(-100);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.navbar-nav .nav-item .nav-link {
    color:hsl(240,4%,18%);
    transition: 0.5s color ease-out;
}

.navbar-nav .nav-item .nav-link:hover {
    color: var(--Soft-red);
}

.button {
    background-color: hsl(5, 85%, 63%);
    color: hsl(36, 100%, 99%);
    padding:1em 1.5em;
    margin-top: 1.5em;
    text-decoration: none;
    letter-spacing: 0.25em;
    font-weight: 700;
    display: inline-block;
    transition: background-color 0.5s ease;
}

.button:hover {
    background-color: hsl(240, 100%, 5%);
}

/* Aside section */
aside {
    background-color: hsl(240, 100%, 5%);
    color: hsl(36, 100%, 99%);
    padding: 3em;
    animation: fadeInAside 1s ease forwards;
}

.heading {
    font-size: 2.5em;
    color:hsl(35, 77%, 62%);
}

.article {
    margin:1.5em 0.25em;
}

.article a {
    text-decoration: none;
    color: hsl(36, 100%, 99%);
    font-weight: 700;
    margin-bottom: 0.5em;
    font-size: 1.5em;
    display: inline-block;
    transition: color 0.5s ease;
}

.article a:hover {
    color:hsl(35, 77%, 62%)
}

/* Animation for aside section */

@keyframes fadeInAside {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@media only screen and (max-width:768px) {
    .responsive-img {
        content: url('/images/image-web-3-mobile.jpg');
    }
}